body {
    height: 200vh;
    background-image: url("mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

@media (min-width: 700px) {
    body {
        background-image: url("desktop.jpg");
        width: 100%;

    }

}