body {
    height: 200vh;
    background-image: url("mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* Center the image */
    overflow-x: hidden;
    max-width: 100%;
    border: 5px dotted blue;
}


/* desktop */
@media (min-width: 700px) {
    body {
        background-image: url("desktop.jpg");
        width: 100%;
        border: 2px solid green;
    }

}